USE [master]
GO
/****** Object:  Database [dbo_agenda]    Script Date: 9/18/2019 5:34:04 AM ******/
CREATE DATABASE [dbo_agenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbo_agenda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2K17\MSSQL\DATA\dbo_agenda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbo_agenda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2K17\MSSQL\DATA\dbo_agenda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbo_agenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbo_agenda]
GO
/****** Object:  Table [dbo].[MOCK_DATA]    Script Date: 9/18/2019 5:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOCK_DATA](
	[nmContato] [varchar](50) NULL,
	[nr_telPrinc] [varchar](50) NULL,
	[nr_telSec] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[notes] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_contatos]    Script Date: 9/18/2019 5:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_contatos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nmContato] [nvarchar](100) NOT NULL,
	[nr_telPrinc] [varchar](13) NOT NULL,
	[nr_telSec] [varchar](13) NULL,
	[email] [varchar](50) NOT NULL,
	[notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
